/*
 * Alt-Tab via zmk-tri-state (Callum/urob swapper).
 * https://github.com/dhruvinsh/zmk-tri-state
 *
 * First activation: hold Alt + tap Tab. Further activations: Tab only.
 * Any other key (except ignored positions) releases Alt.
 * Pos 10 = left-encoder CW bound to LS(TAB) for reverse.
 */

#include <dt-bindings/zmk/keys.h>

/ {
	behaviors {
		swap: swapper {
			compatible = "zmk,behavior-tri-state";
			#binding-cells = <0>;
			display-name = "Alt-Tab swapper";
			bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
			ignored-key-positions = <10>;
		};
	};
};
